# Ignore virtual environment
.venv/

# Ignore model and vectorizer (optional if you want to regenerate them)
*.pkl

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Streamlit’s cache
.streamlit/

# Ignore VS Code settings
.vscode/
